Repository powerline/powerline, pull requests merged in 2019-10, with the labels that each got.

#1997 Fix #1953
  powerline/bindings/ipython/since_7.py
  powerline/renderer.py
  powerline/renderers/ipython/since_7.py
  setup.py
  tests/test_shells/ipython_home/profile_default/ipython_config.py
Labels: c:e:ipython, t:bug

#2028 Addressing #2027 gradually - use command -v
  client/powerline.sh
  powerline/bindings/bash/powerline.sh
  powerline/bindings/shell/powerline.sh
  tests/shlib/common.sh
  tests/shlib/vterm.sh
  tests/test.sh
  tests/test_awesome/test.sh
  tests/test_bar/test.sh
  tests/test_in_vterm/test_shells.sh
  tests/test_in_vterm/test_tmux.sh
  tests/test_in_vterm/test_vim.sh
Labels: c:core, c:e:shell, c:tests, t:enhancement

#2033 Parse out letters in maj. version string
  powerline/bindings/tmux/__init__.py
Labels: c:e:tmux, t:bug

#2034 Refactor tmux bindings
  powerline/bindings/tmux/powerline-base.conf
  powerline/bindings/tmux/powerline_tmux_1.7_plus.conf
  powerline/bindings/tmux/powerline_tmux_1.8_plus.conf
  powerline/bindings/tmux/powerline_tmux_2.1_plus.conf
Labels: c:e:tmux, t:enhancement
